<ion-header translucent>
  <ion-toolbar>
    <ion-title>Agregar pregunta</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input
      placeholder="Escribe tu pregunta"
      [(ngModel)]="nuevaPregunta"
    ></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="guardar()">
    Guardar
  </ion-button>
</ion-content>
